@{
    ViewData["Title"] = "Start-Seite";
}

<div class="text-center">
    <h1 class="display-4">GWS</h1>
    <p></p>
    <img src="~/images/Haus_Terrasse1_Sommer.jpg" width="400" height="200" title="Haus" alt="Hausbild"/> 
</div>
