/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header{
    font-size: 24px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 24px;
}
@media (min-width: 768px) {
  html {
    font-size: 100%;    /* gesamte Schriftgröße */
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

h1 {
    font-size: 20px;
    font-weight: bold;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    background-color: lightgrey;
}

/* Anfang des Sanduhr- Styles */
img.styHourglassTopRight {
    position: fixed;
    top: 0%;
    right: 0%;
    margin-top: 0px;
    margin-right: 0px;
    width: 50px;
    height: auto;
    opacity: 0.7;
}

img.styHourglassTopLeft {
    position: fixed;
    top: 0%;
    left: 0%;
    margin-top: 0px;
    margin-left: 0px;
    width: 50px;
    height: auto;
    opacity: 0.7;
}

img.styHourglassCenter {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    width: 50px;
    height: auto;
    opacity: 0.7;
}
/* Ende des Sanduhr-Styles */

/*
label.a {
    display: inline-block;
    background-color: yellow;
}
*/

    /*für View ohne <table> */
/*label {
    display: inline-block;
    margin-right: 100px;
    width: 50px;
   
}
*/

/* Tasten*/
input[type=submit]{
    width: 150px;
    color: black;
}

/* Felder Zahlenwerte */
input[type=number] {
    width: 150px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 2px;
}

/* Feld Uhrzeit */
input[type=time] {
    width: 150px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 2px;
}

/* Feld Bemerkungen*/
input[type=text] {
    width: 250px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 2px;
}

/* Feld Datum */
input[type=date] {
    width: 150px;
    margin-bottom: 2px;
    margin-top: 2px;
    margin-left: 0px;
    margin-right: 2px;
}

/* Breite Feld Tabelle (z.B.: Anbieter) Abstand Label zu Eingabefeld */
table td{
    width: 200px;
}

.relative {
    left: 30px;
    /*border: 3px solid #73AD21; */
    position: relative;
    left: 20%;
    right: 80%;
    /* margin-left: -450px; */
    width: 200px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
}

/* Alert-Window*/
#confirm {
    display: none;
    background-color: #F3F5F6;
    color: #000000;
    border: 1px solid #aaa;
    position: fixed;
    width: 300px;
    height: 100px;
    left: 30%;
    top: 30%;
    box-sizing: border-box;
    text-align: center;
}

    #confirm button {
        background-color: #FFFFFF;
        display: inline-block;
        border-radius: 12px;
        border: 4px solid #aaa;
        padding: 5px;
        text-align: center;
        width: 60px;
        cursor: pointer;
    }

    #confirm .message {
        text-align: left;
    }

#small-indicator, #medium-indicator, #large-indicator {
    vertical-align: middle;
}

.DivLoadIndicator {
    background-color: #c0c0c0;
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
/*----------------------------------------------*/

